body {
  cursor: url('../img/crosshair.png') 32 32, crosshair;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Press Start 2P', cursive;
   overflow:hidden;
}

.game-area {
  background: url('../img/stage.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.lives {
  position: fixed;
  top: 10px;
  left: 80%;
  display: inline-block;
}

.lives-tittle {
  float: left;
  top: 0;
  margin-right: 5px;
}

.score {
  position: fixed;
  left: 10px;
  top: 85%;
}

i {
  margin-top: 12px;
}

.red {
  color: red;
}
.info{
  width: 400px;
  height: 400px;
  background: #000;
  position: fixed;
  top: 18%;
  left: 35%;
  padding: 50px;
}
.tittle {
  margin-left: 60px;
  color:#32b5fc;
  font-size: 56px;
}
.bar {
  height: 5px;
  width: 100%;
  background: #7e6500;
}
.dos {
  margin-left: 120px;
}
.choose-player {
    text-decoration: none;
      color: #7e6500;

}
.start {
  position: absolute;
  top: 300px;
  left: 200px;
  text-decoration: none;
  color: #fff;
}
.choose-one {
  color: #7e6500;
}
.hide {
  display: none;
}
.instructions {
  color: #7e6500;
}
.change-turn{
  color: #7e6500;
}
.duck {
/*  background: url('../img/sprites/blue_duck_1.png');*/
  width: 100px;
  height: 60px;
  position: absolute;
}
/*Clase con el primer background de la animacion hacia arriba*/
.up-right-blue-1 {
background: url('../img/sprites/blue_duck_3.png');
background-repeat: no-repeat;
}
/*fondo 2 */
.up-right-blue-2 {
background: url('../img/sprites/blue_duck_4.png');
background-repeat: no-repeat;
}
/*fondo 3*/
.up-right-blue-3 {
background: url('../img/sprites/blue_duck_5.png');
background-repeat: no-repeat;
}
.right-blue-1{
background: url('../img/sprites/blue_duck_1.png');
background-repeat: no-repeat;
}
.right-blue-2 {
background: url('../img/sprites/blue_duck_2.png');
background-repeat: no-repeat;
}
.right-blue-3 {
background: url('../img/sprites/blue_duck_3.png');
background-repeat: no-repeat;
}
.left-blue-1{
background: url('../img/sprites/blue_duck_12.png');
background-repeat: no-repeat;
}
.left-blue-2 {
background: url('../img/sprites/blue_duck_13.png');
background-repeat: no-repeat;
}
.left-blue-3{
background: url('../img/sprites/blue_duck_14.png');
background-repeat: no-repeat;
}

/*Clase con el primer background de la animacion hacia arriba*/
.up-left-blue-1 {
background: url('../img/sprites/blue_duck_9.png');
background-repeat: no-repeat;
}
/*fondo 2 */
.up-left-blue-2 {
background: url('../img/sprites/blue_duck_10.png');
background-repeat: no-repeat;
}
/*fondo 3*/
.up-left-blue-3 {
  background: url('../img/sprites/blue_duck_11.png');
  background-repeat: no-repeat;
}
.shot-duck {
  background: url('../img/sprites/blue_duck_7.png');
  background-repeat: no-repeat;
}
.dead-duck {
  background: url('../img/sprites/blue_duck_8.png');
  background-repeat: no-repeat;
}
